



/*Time List*/

ul.time-list {
  list-style: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.report-card img{
  width: 100px;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
}
