@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
  /*Primary*/
  
  --blue: hsl(246, 80%, 60%);
  --work-red: hsl(15, 100%, 70%);
  --play-soft-blue: hsl(195, 74%, 62%);
  --study-red: hsl(348, 100%, 68%);
  --exercise-lime-green: hsl(145, 58%, 55%);
  --social-violet: hsl(264, 64%, 52%);
  --self-care-orange: hsl(43, 84%, 65%);
  
  /*Neutral*/
  --v-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desat-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

.container{
  display: flex;
  justify-content: center;
}

/*typography*/

.descriptions{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}

.profile-name{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  width: 50%;
}

.time-list{
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}



/*Time List*/

ul.time-list {
  list-style: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.report-card img{
  width: 100px;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
}

/*activities*/

.activities-card-container {
  font-family: 'Rubik',sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, auto);
}
